.input {
  background-color: var(--color-bg-input) !important;
  color: var(--color-text) !important;
  border-color: var(--color-border) !important;
}

.dropdown {
  background-color: var(--color-bg-card) !important;
  border-color: var(--color-border) !important;
}

.option {
  color: var(--color-text) !important;

  &[data-hovered], &:hover {
    background-color: var(--color-bg-hover) !important;
  }
}
